<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
  <title>CRUD {% block title %}{% endblock %}</title>
</head>
<body>

  <div class="container-fixed">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/list">
              Lista personas <span class="sr-only">(current)</span>
            </a>
          </li>    
          <li class="nav-item active">
            <a class="nav-link" href="/add">
              Add personas <span class="sr-only">(current)</span>
            </a>
          </li>    
          </ul>
      </div>
    </nav>
  
  </div>
  <div class="container">

  <div id="content" style="margin-top: 80px">
    {% block content %}{% endblock %}
  </div>

</div>
</body>
</html>
